<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Form Demo</title>
	<link rel="stylesheet" type="text/css" href="../lib/quick-layout.css" />
</head>
<body>
	<div class="w600 auto bdc bg-white" style="overflow:auto; resize:both;"><!-- 自适应测试 -->
    	<h4 class="f14 p5 pl10 bgf0 mt1 bbc">注册</h4>
        <div class="p30">
        	<form>
            	<div class="fix">
                	<span class="l w140 g6 mr20 tr pt5"><span class="red fs">*</span>账号：</span>
                    <div class="cell">
                    	<input class="pct80 p5" placeholder="邮箱/手机" required="" data-form-un="1466752198004.147">
                    </div>
                </div>
                <div class="fix mt20">
                	<span class="l w140 g6 mr20 tr pt5"><span class="red fs">*</span>请输入密码：</span>
                    <div class="cell">
                    	<input type="password" class="pct80 p5" required="" data-form-pw="1466752198003.0894">
                    </div>
                </div>
                <div class="fix mt20">
                	<span class="l w140 g6 mr20 tr pt5"><span class="red fs">*</span>请输入密码：</span>
                    <div class="cell">
                    	<input type="password" class="pct80 p5" required="" data-form-pw="1466752198004.0884">
                    </div>
                </div>
                <div class="fix mt20">
                	<span class="l w140 g6 mr20 tr pt5"><span class="red fs">*</span>请再次输入密码：</span>
                    <div class="cell">
                    	<input type="password" class="pct80 p5" required="" data-form-pw="1466752198004.147">
                    </div>
                </div>
                <div class="fix mt20">
                	<span class="l w140 g6 mr20 tr pt5"><span class="red fs">*</span>验证码：</span>
                    <div class="cell">
                    	<input class="pct30 p5" required=""><img src="./img/code.jpg" class="vm">
                    </div>
                </div>
                <div class="fix mt20">
                	<span class="l w140 mr20">&nbsp;</span>
                    <div class="cell">
                    	<p><input type="checkbox" id="agree" class="vn" checked=""><label for="agree" class="f12">我已经阅读并同意<a href="#">xxx协议</a></label></p>
                        <h6 class="mt20 f14">
                        	<input type="submit" id="submit" class="abs-clip" data-form-sbm="1466752198004.147">
                            <label for="submit" class="btn btn-red w120">免费注册</label>
                        </h6>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>